server:
  port: 8000
  max-http-header-size: 100000
spring:
  profiles:
    active: dev

---
spring:
  profiles: dev
  datasource:
    druid:
      name: springboots
      url: jdbc:mysql://116.62.143.18:3306/caiao?characterEncoding=utf8
      username: root
      password: I^9ggI*zrTRrt%9C
      driver-class-name: com.mysql.jdbc.Driver
      filters: stat
      maxActive: 20
      initialSize: 1
      maxWait: 60000
      minIdle: 1
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: SELECT 1 FROM DUAL
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20
      
---
 spring:
  profiles: pro
  datasource:
    druid:
      name: springboots
      url: jdbc:mysql://116.62.143.18:3306/caiao?characterEncoding=utf8
      username: websvr
      password: ^c5JzmY*at
      driver-class-name: com.mysql.jdbc.Driver
      filters: stat
      maxActive: 20
      initialSize: 1
      maxWait: 60000
      minIdle: 1
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: SELECT 1 FROM DUAL
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20