<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vita.mymapper.CustomOrderMapper">
    
    
    <resultMap id="order_detail_map" type="com.vita.entity.BookOrder" extends="com.vita.mapper.BookOrderMapper.BaseResultMap">
        <!--<collection property="equitySet" column="card_code" select="selectCardEquityByCardCode"></collection>-->
        <association property="ground" select="selectOrderGround" column="id"></association>
    </resultMap>

    <select id="orderList" parameterType="com.vita.model.OrderListVo"
            resultMap="order_detail_map">
        SELECT
          id,order_no,nick_name,status,create_date,create_time,order_amt,pay_channel,phone
        FROM
          t_book_order
        WHERE
          1=1
        <if test="userName != null and userName != ''">
            AND nick_name like CONCAT('%', #{userName} , '%')
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND order_no = #{orderNo}
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[ AND create_date <= #{endDate} ]]>
        </if>
        <if test="startDate != null and startDate != ''">
            <![CDATA[ AND create_date >= #{startDate} ]]>
        </if>
        ORDER  BY id DESC
    </select>

    <select id="selectOrderGround" resultMap="com.vita.mapper.OrderGroundMapper.BaseResultMap" parameterType="int">
        SELECT
          id, order_id, order_no, product_id, product_name, ground_id, ground_name, order_status,
          order_date, start_time, end_time
        FROM
          t_book_order_ground
        WHERE
          order_id = #{id}
    </select>

    <select id="stockList" parameterType="com.vita.model.StockListVo" resultMap="com.vita.mapper.StockMapper.BaseResultMap">
        SELECT
          id, price, status, ground_name
        FROM
          p_stock
        WHERE
          1=1
        <if test="groundName != null and  groundName != ''">
            AND ground_name LIKE CONCAT('%',#{groundName}, '%')
        </if>
        <if test="date != null and date != ''">
            AND `date` = #{date}
        </if>
        <if test="sportKey != null and sportKey != ''">
            AND sport_key = #{sportKey}
        </if>
    </select>


    <select id="selectBookOrderInfo" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT
            user_id userId, nick_name nickName, order_no orderNo
        FROM
            t_book_order
        WHERE
            id=#{orderId}
    </select>

    <update id="lockStock" parameterType="com.vita.entity.Stock">
        UPDATE
            p_stock
        SET
            version=version+1,

            <if test="status != null and status != ''">
                status=#{status},
            </if>
            <if test="price != null and price != ''">
                price=#{price},
            </if>

            oper_id=#{operId},
            oper_name=#{operName}

        WHERE
            id=#{id} AND version = #{version}
    </update>

</mapper>