<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vita.mapper.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.vita.entity.Device">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_no" jdbcType="CHAR" property="deviceNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="master_id" jdbcType="INTEGER" property="masterId" />
    <result column="master_index" jdbcType="INTEGER" property="masterIndex" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_no, name, description, master_id, master_index
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_device
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectDeviceByCondition" parameterType="com.vita.entity.Device" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from p_device
    where (1=1)
    <if test="device != null and device.name != null and ''!= device.name">
      AND t.name like #{device.name}
    </if>
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from p_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vita.entity.Device">
    insert into p_device (id, device_no, name, 
      description, master_id, master_index
      )
    values (#{id,jdbcType=INTEGER}, #{deviceNo,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{masterId,jdbcType=INTEGER}, #{masterIndex,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vita.entity.Device">
    insert into p_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceNo != null">
        device_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="masterId != null">
        master_id,
      </if>
      <if test="masterIndex != null">
        master_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceNo != null">
        #{deviceNo,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null">
        #{masterId,jdbcType=INTEGER},
      </if>
      <if test="masterIndex != null">
        #{masterIndex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vita.entity.Device">
    update p_device
    <set>
      <if test="deviceNo != null">
        device_no = #{deviceNo,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null">
        master_id = #{masterId,jdbcType=INTEGER},
      </if>
      <if test="masterIndex != null">
        master_index = #{masterIndex,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vita.entity.Device">
    update p_device
    set device_no = #{deviceNo,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      master_id = #{masterId,jdbcType=INTEGER},
      master_index = #{masterIndex,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>