<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vita.mapper.GroundMapper">
  <resultMap id="BaseResultMap" type="com.vita.entity.Ground">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ground_id" jdbcType="VARCHAR" property="groundId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="discription" jdbcType="VARCHAR" property="discription" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="rights" jdbcType="VARCHAR" property="rights" />
    <result column="virtual_ids" jdbcType="VARCHAR" property="virtualIds" />
    <result column="light_device_id" jdbcType="INTEGER" property="lightDeviceId" />
    <result column="light_item_id" jdbcType="VARCHAR" property="lightItemId" />
    <result column="sport_key" jdbcType="VARCHAR" property="sportKey" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ground_id, name, price, discription, product_id, rights, virtual_ids, light_device_id, 
    light_item_id,sport_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_ground
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectGroundByCondition" parameterType="com.vita.entity.Ground" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from p_ground
    where (1=1)
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from p_ground
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vita.entity.Ground">
    insert into p_ground (id, ground_id, name, 
      price, discription, product_id, 
      rights, virtual_ids, light_device_id, 
      light_item_id)
    values (#{id,jdbcType=INTEGER}, #{groundId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=INTEGER}, #{discription,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, 
      #{rights,jdbcType=VARCHAR}, #{virtualIds,jdbcType=VARCHAR}, #{lightDeviceId,jdbcType=INTEGER}, 
      #{lightItemId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vita.entity.Ground">
    insert into p_ground
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groundId != null">
        ground_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discription != null">
        discription,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="rights != null">
        rights,
      </if>
      <if test="virtualIds != null">
        virtual_ids,
      </if>
      <if test="lightDeviceId != null">
        light_device_id,
      </if>
      <if test="lightItemId != null">
        light_item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groundId != null">
        #{groundId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="discription != null">
        #{discription,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="rights != null">
        #{rights,jdbcType=VARCHAR},
      </if>
      <if test="virtualIds != null">
        #{virtualIds,jdbcType=VARCHAR},
      </if>
      <if test="lightDeviceId != null">
        #{lightDeviceId,jdbcType=INTEGER},
      </if>
      <if test="lightItemId != null">
        #{lightItemId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vita.entity.Ground">
    update p_ground
    <set>
      <if test="groundId != null">
        ground_id = #{groundId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="discription != null">
        discription = #{discription,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="rights != null">
        rights = #{rights,jdbcType=VARCHAR},
      </if>
      <if test="virtualIds != null">
        virtual_ids = #{virtualIds,jdbcType=VARCHAR},
      </if>
      <if test="lightDeviceId != null">
        light_device_id = #{lightDeviceId,jdbcType=INTEGER},
      </if>
      <if test="lightItemId != null">
        light_item_id = #{lightItemId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vita.entity.Ground">
    update p_ground
    set ground_id = #{groundId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      discription = #{discription,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      rights = #{rights,jdbcType=VARCHAR},
      virtual_ids = #{virtualIds,jdbcType=VARCHAR},
      light_device_id = #{lightDeviceId,jdbcType=INTEGER},
      light_item_id = #{lightItemId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>