<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vita.mapper.OrderGroundMapper">
  <resultMap id="BaseResultMap" type="com.vita.entity.OrderGround">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="ground_id" jdbcType="VARCHAR" property="groundId" />
    <result column="ground_name" jdbcType="VARCHAR" property="groundName" />
    <result column="order_status" jdbcType="CHAR" property="orderStatus" />
    <result column="order_date" jdbcType="DATE" property="orderDate" />
    <result column="start_time" jdbcType="TIME" property="startTime" />
    <result column="end_time" jdbcType="TIME" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, order_no, product_id, product_name, ground_id, ground_name, order_status, 
    order_date, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_book_order_ground
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_book_order_ground
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vita.entity.OrderGround">
    insert into t_book_order_ground (id, order_id, order_no, 
      product_id, product_name, ground_id, 
      ground_name, order_status, order_date, 
      start_time, end_time)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{groundId,jdbcType=VARCHAR}, 
      #{groundName,jdbcType=VARCHAR}, #{orderStatus,jdbcType=CHAR}, #{orderDate,jdbcType=DATE}, 
      #{startTime,jdbcType=TIME}, #{endTime,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="com.vita.entity.OrderGround">
    insert into t_book_order_ground
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="groundId != null">
        ground_id,
      </if>
      <if test="groundName != null">
        ground_name,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderDate != null">
        order_date,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="groundId != null">
        #{groundId,jdbcType=VARCHAR},
      </if>
      <if test="groundName != null">
        #{groundName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vita.entity.OrderGround">
    update t_book_order_ground
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="groundId != null">
        ground_id = #{groundId,jdbcType=VARCHAR},
      </if>
      <if test="groundName != null">
        ground_name = #{groundName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="orderDate != null">
        order_date = #{orderDate,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIME},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vita.entity.OrderGround">
    update t_book_order_ground
    set order_id = #{orderId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      ground_id = #{groundId,jdbcType=VARCHAR},
      ground_name = #{groundName,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=CHAR},
      order_date = #{orderDate,jdbcType=DATE},
      start_time = #{startTime,jdbcType=TIME},
      end_time = #{endTime,jdbcType=TIME}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>